{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div class="container">


<h2>Abstract</h2>

<p>An important part of our information-gathering behaviour has always been to find out what other people think. With the growing availability and popularity of opinion-rich resources such as online review sites and personal blogs, new opportunities and challenges arise as people now can, and do, actively use information technologies to seek out and understand the opinions of others.<br><br>
This project mainly aims at analysing the sentiment of customer reviews on various e-commerce websites. This will help the user to get a rough feedback on the product that they are selling. This allows them to gain an understanding of attitudes, opinions & emotions expressed within an online mention.<br><br>
We will implement Recurrent Neural Network (RNN) using the Long Short Term Memory (LSTM) architecture.
In this task, given a product review, the model attempts to predict whether it is positive or negative. This is a binary classification task.
The project will be developed mainly in python and NLTK (natural language processing toolkit) and some other similar modules will be used.</p>


</div>

{% endblock %}
