{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div class="container">


<h2>Abstract</h2>

<p>This project mainly aims at analysing the sentiment of customer reviews on various e-commerce websites. This will help the user to get a rough feedback on the product that they are buying. This allows them to gain an understanding of attitudes, opinions & emotions expressed within an online mention.<br>
Recurrent Neural Networks will be used to perform sentiment analysis for effective product recommendation. This will give the user an insight about how the other buyers feel about the product.
</p>


</div>

{% endblock %}
