{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="mainblock text-center" >
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'logo_sas.png'%}" style="padding-top: 6vw;">
    </a>
    
    <p style=""><strong>enter a product name and we will tell you what others think about it ! :) </strong></p>
    <form class="" action="search_product" method="POST">{% csrf_token %}
      <input id = "search_box" name="product_name" type="text" class="input_btn" ></input>
      <input type="submit" class="btn btn-default btn-sm" value="Search">
    </form>
    {{name}}
</form>
  </div>
</div>
<div class="container">

  <hr>
  <div class="row">
    <div class="col-md-6" >
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this app works</h3>
      <ul>
        <li>Enter the product in the search box and click the search button.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-user"></span> Follow us on Social Media</h3>
      <ul>
        <li> <a href="https://www.linkedin.com/in/aditya-shekhawat-97217225/" target="_blank">Sangeeth</a></li>
        <li> <a href="https://www.linkedin.com/in/sangeeth-koratten-b53a06129/" target="_blank">Aditya</a></li>
      </ul>  
    </div>
  </div> <!-- row -->
  
</div>
{% endblock %}
