{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container" style="padding:0%  10% 10% 10%;">
<table>
	<tr>
		<td>
			<img class="logo" src="{{prod_image}}">
		</td>
		<td>
			<h3>{{prod_name}}</h3>
		</td>
	</tr>
</table>
<h4><strong>Reviews</strong></h4>
<table>
{% for review,emotion in prod_review_emotion %}
	<tr>
	<td class="data" style="width: 10%;">{{emotion}}</td><td class="data" style="width: 50%;">{{review}}</td>
	</tr>
{% endfor%}
</table>
</div>
{% endblock %}
