{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
{% with item_no=1 %}
<div class="table-responsive">          
  <table class="table table-responsive" >
    <thead>
      <tr class="tableheader">
        <th style="vertical-align:middle;text-align: center;">Item No.</th>
        <th style="vertical-align:middle;text-align: center;">Preview</th>
        <th style="vertical-align:middle;text-align: center;">Prouct Name</th>
        <th style="vertical-align:middle;text-align: center;">Price</th>
        <th hidden="hidden">Prod_ASIN</th>
    </tr>
    </thead>
    
    <tbody>
    
	    {%for item,img,price,asin in product_data %}
          <tr class="tabledata" >
            <td style="vertical-align:middle;">{{forloop.counter}}</td>
            <td style="vertical-align:middle;text-align: center;"><img src={{ img }} alt="error" width="100vw"></td>
  	        <td style="vertical-align:middle;font-size: 1.2em;text-align: center;">{{item}}</td>
            <td style="vertical-align:middle;font-size: 1.2em;text-align: center;">&#8377;{{price}}</td>
            <td hidden="hidden" class="product_asin">{{asin}}</td>
  	      </tr>
	    {% endfor %}
      
    </tbody>
  </table>
  </div>
  {% endwith %}
</div>
{% endblock %}
