{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
{% with item_no=1 %}
<div class="table-responsive">          
  <table class="table table-responsive" >
    <thead>
      <tr class="tableheader">
        <th style="vertical-align:middle;text-align: center;">Item No.</th>
        <th style="vertical-align:middle;text-align: center;">Preview</th>
        <th style="vertical-align:middle;text-align: center;">Prouct Name</th>
        <th style="vertical-align:middle;text-align: center;">Price</th>
        <th style="vertical-align:middle;text-align: center;">Features</th>
        <th style="vertical-align:middle;text-align: center;">Check Reviews</th>
    </tr>
    </thead>
    
    <tbody>
    
	    {%for item,img,price,asin,features in product_data %}
          <tr class="tabledata" onClick="fetch_reviews('{{asin}}');">
            <td style="vertical-align:middle;">{{forloop.counter}}</td>
            <td style="vertical-align:middle;text-align: center;"><img src={{ img }} alt="error" width="100vw"></td>
  	        <td style="vertical-align:middle;font-size: 1.2em;text-align: center;">{{item}}</td>
            <td style="vertical-align:middle;font-size: 1.2em;text-align: center;">&#8377;{{price}}</td>
            <td style="vertical-align:middle;font-size: 1em;text-align: left;"><ul>
              {%for feature in features %}
              <li>{{feature}}</li>
              {% endfor %}
              </ul>
            </td>
            <td>
              <form class="" action="fetch_reviews" method="POST">{% csrf_token %}
                <input type="hidden" name="product_features" value="{{features}}">
                <input type="hidden" name="product_asin" value="{{asin}}">
                <input type="submit" class="btn btn-default btn-sm" value="Reviews">
              </form>
              </td>
  	      </tr>
	    {% endfor %}

    </tbody>
  </table>
  </div>
  {% endwith %}
</div>
{% endblock %}
